<h1>Task Selected</h1>
<h2><%= @task.title %></h2>
<%= link_to "Task List", tasks_path%>
<p><%= task.details%>
<br>
<%= link_to "Back", tasks_path%>
<%= link_to "Edit", edit_path(@taks) %><br>
<%= link_to "Delete",
  tasks_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
